<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head>
    <title>About Us</title>
</head>
<body>
    <div layout:fragment="content">
        <div class="row pt-5 pb-5">
            <div class="col-md-8 mx-auto text-center">
                <h2>About SMCEM</h2>
                <hr>
                <p class="lead mt-4">Smart Campus Event Management System (SMCEM) is a premiere end-to-end platform created to dramatically simplify how our university students, outstanding faculty, and brilliant organizers coordinate massive structural campus events.</p>
                <p>Designed strictly using highly robust MVC frameworks and strict Object-Oriented design patterns, SMCEM eliminates manual event paperwork while giving organizers total control over attendee life cycles, certificate distributions, and payment integrations.</p>
                
                <h4 class="mt-5">Our Mission</h4>
                <p>To digitize, secure, and infinitely scale campus communities by ensuring an incredibly dynamic, friction-free interface uniting learners to knowledge.</p>
            </div>
        </div>
    </div>
</body>
</html>
